<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lionrockws.simple.db.project.mapper.CoinMapper">
	<resultMap id="coinResultMap"
		type="com.lionrockws.simple.db.project.model.Coin">
		<id property="id" column="id" />
		<result property="coinMarketCapId" column="coinmarketcap_id" />
		<result property="name" column="name" />
		<result property="code" column="code" />
		<result property="description" column="description" />
	</resultMap>
	<select id="selectCoinByCode" resultMap="coinResultMap">
		SELECT * FROM COIN WHERE CODE = #{code, jdbcType=VARCHAR}
	</select>
	<insert id="insertCoin"
		parameterType="com.lionrockws.simple.db.project.model.Coin">
		insert into coin(coinmarketcap_id,name,code,description) values(
		#{coin.coinMarketCapId, jdbcType=BIGINT},
		#{coin.name, jdbcType=VARCHAR},
		#{coin.code, jdbcType=VARCHAR},
		#{coin.desciption, jdbcType=VARCHAR});

	</insert>
</mapper>